<div id="photoModal" class="modal" role="dialog" aria-modal="true" aria-labelledby="modalCaption" aria-hidden="true">
        <button type="button" class="modal-close" aria-label="Закрыть">&times;</button>
        <img class="modal-content" id="modalImg" alt="">
        <div class="modal-caption" id="modalCaption"></div>
        <button type="button" class="modal-nav modal-prev" aria-label="Предыдущее фото">&#10094;</button>
        <button type="button" class="modal-nav modal-next" aria-label="Следующее фото">&#10095;</button>
    </div>
